body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #71068f;
	color: white;
}

.website-header {
	padding: 20px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
}

.website-header img {
	float: left;
	width: 65px;
	height: 90px;
	margin-top: -20px;
}

.website-header h1 {
	margin-left: 50px;
	color: white;
}

.social-icons {
	text-align: right;
	flex-grow: 1;
}

.social-icons i {
	margin: 0 7px;
	cursor: pointer;
}

nav {
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}

nav ul {
	margin: 20px 0 0 0;
}

.navbar-nav li {
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}

.navbar-nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.navbar-nav li a:hover {
	color: #71068f;
}

.breaking-news-section {
	padding: 0 30px 0 60px;
	display: flex;
}

#btext {
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	margin: auto 0;
}

.breaking-news {
	padding: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}

.breaking-news:hover,
.social-icons i:hover {
	color: black;
	cursor: pointer;
}

.bntime {
	display: inline-block;
	color: white;
	padding: 0 10px;
	font-size: 12px;
}

#popular-news {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
}

#popular-news h2 {
	margin: 0;
	padding: 5px;
	color: #fff;
}

#featured h2 {
	background-color: black;
}

#latest h2 {
	font-size: 25px;
	background-color: #71608f;
}

#our-picks h2 {
	font-size: 25px;
	background-color: #71608f;
}

#featured {
	flex: 2;
}

#latest,
#our-picks {
	flex: 1;
}

#popular-news img {
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}

.carousel,
.news-container {
	position: relative;
}

.carousel-text {
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}

.news-container .carousel-text {
	font-size: 18px;
	color: white;
}

.carousel-date {
	display: block;
	text-align: center;
	font-size: 14px;
	color: white;
	font-weight: 300;
}

.carousel-item p{
	color: white;
}

section {
	cursor: pointer;
}

.news-container:hover>.carousel-text {
	bottom: 10px;
}

.news-container:hover>img {
	filter: brightness(0.4);
}

.more-news {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
}

.more-news h3,p{
	color: white;
}

.news-section {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
}

.world h2 {
	font-size: 25px;
	background-color: #71068f;
}

.sport h2 {
	font-size: 25px;
	background-color: #71068f;
}

.world h2,
.sport h2 {
	margin: 10px 0 0 0;
	padding: 0 10px;
	color: white;
}

.world h3,
.sport h3 {
	font-size: 20px;
	color: #71608f;
}

.more-news img {
	width: 100%;
	height: 250px;
}

.world,
.sport {
	flex-basis: 45%;
}

aside {
	width: 90%;
	padding: 10px;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: auto 0;
}

p {
	text-align: justify;
}

aside h4{
	color: white;
}

.recent-news {
	display: flex;
}

.recent-news img {
	width: 70px;
	height: 70px;
	margin: 10px;
}

.recent-news p {
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: space-between;
}

.social-links p{
	color: black;
}

.social-links section {
	flex-basis: 30%;
}

.social-icons-footer i {
	font-size: 37px;
	padding: 5px;
}

.instagram img {
	padding: 5px;
}

.footer-buttons {
	display: block;
	border: 1px solid black;
	color: black;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
	width: 120px;
}

	#bt1 {
	margin-top: 50px;
}

#bt3 {
	margin-top: 115px;
}

.footer-buttons:hover {
	color: #fff;
	border: 1px solid #fff;
	background-color: #71068f;
}

.copyright {
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.breaking-news-section {
		padding: 10px;
		flex-wrap: wrap;
	}

	#featured {
		flex: auto;
	}

	.news-section,
	aside,
	.news-section article,
	.social-links section {
		flex-basis: 100%;
	}

	aside {
		border-width: 0;
	}

	.social-links section {
		margin-top: 20px;
	}

	.website-header img {
		width: 35px;
		height: 35px;
		padding: 5px;
	}

	.website-header h1 {
		font-size: 15px;
	}

	.social-icons {
		flex-basis: 100%;
	}

	.navbar-collapse {
		background-color: black;
		z-index: 16;
	}

	.navbar-toggler-icon {
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}