* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

nav img {
  margin-left: 20px;
width: 65px;
height: 90px;
margin-top: 10px;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3B5594;
  height: 80px;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a{
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover{
  color: #001e64;
}